<template>
  <div class="container">
    <div id="header" class="row">
      <div class="col-md-6 text-left">
        <button class="btn btn-primary">{{board.name}}</button>
      </div>
    </div>
    <div class="row">
      <!-- Como fazer esta div class row scrolable para os lados ??????  -->
      <div class="col-md-4" v-for="(list, index) in lists" v-bind:key="index">
        <div class="card list">
          <div class="card-header">
            <strong>{{list.name}}</strong>
          </div>
          <div class="card-body">
            <div v-if="list.notas.lenght == 0">
              <h4>Ainda não tem notas</h4>
            </div>
            <div
              class="nota"
              v-else
              v-for="(nota, index2) in list.notas"
              v-bind:key="index2"
            >{{nota.text}}</div>

            <div class="nota">MAis ou menos deste género - {{list.notas.length}}</div>
            <div class="spinner-border m-5" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <!-- <div class="nota">Alterar o tamnho e a fonte dentro das notas</div> -->
            <div class="text-right">
              <button
                class="btn btn-primary add-note text-center"
                data-toggle="modal"
                data-target="#addNoteModal"
                v-on:click="targetList(list._id)"
              >
                <i class="fas fa-plus mx-auto"></i>
              </button>
            </div>
          </div>
          <div class="card-footer d-flex flex-row-reverse mb-3">
            <div class="p-2" style="right: 0px;">
              <button class="btn btn-outline-dark">
                <i class="fas fa-cogs"></i>
              </button>
            </div>
            <div class="p-2 footer_text">Aqui deviam tar as definições</div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card list">
          <div class="card-header">
            <form v-on:submit="createList($event)">
              <input type="text" v-model="newListName" placeholder="Nome da nota...." class="form-control" />
            </form>
          </div>
          <div class="card-body">Nota de exmplo (para adicionar uma nova nota)</div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="addNoteModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header" id="modalheader">
            <h6 class="modal-title" id="exampleModalCenterTitle">Adiciona uma nota</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-right">
            <form v-on:submit="addNote($event)">
              <fieldset>
                <textarea
                  id="noteText"
                  v-model="noteText"
                  class="form-control"
                  rows="15"
                  placeholder="Escreve aqui a tua nota ...."
                ></textarea>
              </fieldset>
              <button type="submit" class="btn btn-outline-success add-note-btn">Add Note</button>
            </form>
          </div>
          <div class="modal-footer text-right">
            <div>
              <ul class="list-inline settingsList">
                <li class="list-inline-item">
                  <i class="fas fa-cogs"></i>
                </li>
                <li class="list-inline-item">
                  <i class="fas fa-cogs"></i>
                </li>
                <li class="list-inline-item">
                  <i class="fas fa-cogs"></i>
                </li>
              </ul>
            </div>
            <button class="btn btn-outline-dark">
              <i class="fas fa-cogs"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      board: {},
      lists: [],
      noteText: "",
      newListName: "",
      showSettingsModal: false,
      targetListId: -1,
      port: ":8181",
      ip: "http://192.168.1.83"
    };
  },
  created() {
    console.log(this.$route.params.id);
    /** Board */
    axios({
      method: "get",
      url: `${this.getAddress()}boards/getOne/${this.$route.params.id}`
    }).then(res => {
      console.log(res.data);
      this.board = res.data.result;

      /** Ir buscar as listas desta board */
      axios({
        method: "get",
        url: `${this.getAddress()}lists/getbyboard/${this.board._id}`
      })
        .then(res => {
          if (res.data.success) {
            this.lists = res.data.result;
            console.log(this.lists);
          } else {
            console.log("%c Success = false !!!!", "color: red;");
          }
        })
        .catch(err => {
          console.log(err, "Erro no getbyBoard()");
        });
    });
  },
  methods: {
    getAddress() {
      return this.ip + this.port + "/";
    },
    addNote(ev) {
      ev.preventDefault();

      axios({
        url: `${this.getAddress()}lists/addnote/${this.targetListId}`,
        method: "post",
        data: {
          note: {
            text: this.noteText,
            settings: {},
            type: "to be defined"
          }
        }
      })
        .then(({ data }) => {
          if (data.success) {
            console.log(data);
            /** Ir buscar as listas desta board */
            axios({
              method: "get",
              url: `${this.getAddress()}lists/getbyboard/${this.board._id}`
            })
              .then(res => {
                if (res.data.success) {
                  this.lists = res.data.result;
                  console.log(this.lists);
                } else {
                  console.log("%c Success = false !!!!", "color: red;");
                }
              })
              .catch(err => {
                console.log(err, "Erro no getbyBoard()");
              });
          }
        })
        .catch(err => console.log(err, "Erro no post de uma nota addNote()"));
    },
    targetList(listId) {
      console.log(
        listId,
        "Este é o Id da lista à qual se vai adicionar a nota!!!"
      );
      this.targetListId = listId;
    },
    createList(ev) {
      ev.preventDefault();
      axios({
        /** Depois ainda falta mandar também o id da board a que a lista pertence */
        url: `${this.getAddress()}lists/create`,
        method: "post",
        data: {
          name: this.newListName,
          boardId: this.board._id
        }
      }).then(({ data }) => {
        if (data.success) {
          axios({
            url: `${this.getAddress()}lists/getbyboard/${this.board._id}`,
            method: "get"
          }).then(({ data }) => {
            if (data.success) {
              console.log(data);
              this.lists = data.result;
              this.newListName = ""
            }
          }).catch(err => {
            console.log(err, "Erro ao ir buscar todas as listas createList()")
          });
        }
      }).catch(err => {
        console.log(err, "Erro ao inserir uma nova lista createList()")
      });
    }
  }
};
</script>

<style lang="scss" scoped>
div#header {
  margin-bottom: 20px;
}
div.nota {
  border: 1px solid blue;
  border-radius: 10px;
  width: inherit;
  padding: 3px;
  margin-bottom: 10px;
}
div.card-body {
  padding: 10px;
}
div.footer_text {
  color: blue;
  font-size: 1.4vh;
}
div.card > div.card-footer {
  margin-bottom: 0px !important;
  padding: 5px;
}
div.card.list {
  // margin-bottom: 10px;
}
button.add-note {
  width: 24px;
  height: 24px;
  padding: 2px;
}
button.add-note > i {
  width: 14px;
  height: 14px;
}
#modalheader {
  background-color: rgb(21, 151, 21);
  color: white;
}
fieldset {
  margin-bottom: 10px;
}
.settingsList {
  margin: 8px 0px;
}
.settingsList > li {
  border-radius: 50%;
  border: 1px solid green;
}
.settingsList > li > i {
  padding: 2px;
}
div.spinner-border.m-5 {
  display: none;
  z-index: 1;
  position: absolute;
}
.card-header {
  background-color: yellowgreen;
}
</style>
