<template>
  <div class="container">
    <div class="row text-left">
      <div class="col-md-4 board" v-for="(board, index) in boards" v-bind:key="index">
        <!-- Estes butões vão ter que ser router-links -->
        <router-link
          id
          class="btn btn-primary boardButton"
          tag="button"
          v-bind:to="{name: 'board', params: {id:board._id}}"
        >{{`Board-${index+1} / ${board.name}`}}</router-link>
      </div>

      <div class="col-md-4 board">
        <button
          id="createBoard"
          class="btn btn-outline-success boardButton"
          data-toggle="modal"
          data-target="#createBoardModal"
        >Create Board</button>
      </div>
    </div>

    <!-- Modal -->
    <div
      class="modal fade"
      id="createBoardModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalCenterTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <!-- ng-click="clearForm()" -->
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form v-on:submit="createBoard($event)">
            <div class="modal-body">
              <label for="#name">Name</label>
              <input
                id="name"
                type="text"
                class="form-control"
                placeholder="Board Name...."
                v-model="boardName"
              />
              <p id="errMessage" v-show="errMessage != ''" class="err-message">{{errMessage}}</p>
              <p v-show="successMessage != ''" class="success-message">{{successMessage}}</p>
            </div>
            <div class="modal-footer text-right submit-and-reset">
              <button type="reset" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-outline-success">Create</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
/** Focar num elemento ao mostrar a modal */
export default {
  data() {
    return {
      boardsArr: [],
      /** Html vars */
      boardName: "",
      errMessage: "",
      successMessage: "",
      /** Axios */
      port: ":8181",
      ip: "http://192.168.1.83" /** Fazer uma maneira de testar uma lista de ips disponiveis e de usar o que estiver disponivel, 
      o que vai fazer com que haja uma mensagem de erro caso não esteja nenhum ip disponivel */
    };
  },
  created() {
    axios({
      method: "get",
      url: `${this.getAddress()}boards/getall`
    })
      .then(res => {
        console.log(res, "res!!!");
        this.boardsArr = res.data.result;
      })
      .catch(err => console.log(err));
  },
  watch: {
    boardName: (newValue, oldValue) => {
      let errMessage = document.querySelector("#errMessage")
      console.log(errMessage.innerHTML)
      if(errMessage.innerHTML != "") errMessage.innerHTML = ""
    }
  },
  computed: {
    boards() {
      // console.log(this.getAddress())
      return this.boardsArr;
    }
  },
  methods: {
    getAddress() {
      return this.ip + this.port + "/";
    },
    createBoard(event) {
      event.preventDefault();
      /** Verificações */
      let create = true;
      if (this.boardName == "") create = false;

      if (create) {
        axios({
          method: "post",
          url: `${this.getAddress()}boards/create`,
          data: {
            name: this.boardName
          }
        }).then(res => {
          console.log(res);
          if (res.data.success) {
            this.boardName = "";
            this.successMessage = `Board ${res.data.result.name} created :)`;
            axios({
              method: "get",
              url: `${this.getAddress()}boards/getall`
            }).then(res => {
              this.boardsArr = res.data.result
            })
          }
        });
      }else {
        this.errMessage = "Tens que escrever alguma coisa caralhes !!!!"
      }
      console.log(event);
    }
  }
};
</script>

<style lang="scss">
button.boardButton {
  width: inherit;
  height: 100px;
}
div.row.text-left {
  margin-top: 20px;
}
div.board {
  margin-top: 10px;
}
div.submit-and-reset {
  margin-top: 20px;
}
p.err-message {
  color: red;
}
</style>
