<template>
  <div id="app">
    <div id="nav">
      <div id="circle" v-on:click="goHome">
        <img alt="Vue logo" src="./assets/logo.png" id="logo">
      </div>
    </div>
    <router-view/>
  </div>
</template>

<script>
export default {
  name: "app",
  data() {
    return {
      // isLoggedIn: false, /** Isto vai ficar para mais tarde */
    };
  },
  components: {
    // logginScreen,
  },
  methods: {
    goHome() {
      this.$router.push({
        name: "home"
      })
    }
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  // margin-top: 60px;
}
div#nav {
  text-align: center;
  padding-top: 10px;
}
div#circle {
  border-radius: 50%;
  border: 1px solid green;
  width: 75px;
  height: 75px;
  display: inline-block;
  margin-top: 10px;
}
div#circle:hover {
  background: yellow;
  cursor: pointer;
}
img#logo {
  width: 48px;
  margin-top: 15px;
}
</style>
